body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #031735;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #ffffff;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
}

.inc-exp-container div {
  text-align: center;
}

.money {
  font-size: 1.5rem;
  font-weight: bold;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  background-color: #fdfff8;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.list li span {
  flex: 1;
}

.list li button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.list li button:hover {
  background-color: #9d201c;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radio-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

button.btn {
  width: 100%;
  padding: 10px;
  background-color: #004f98;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #6fa9e0;
}
